@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

*{
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

:root {
    --color-fill: #6639b6;
    --color-button-accent: #fe9700;
    --color-button-excellent: #8ac249;
    --color-background-gray: #eee;;
    --color-text-base: #ffffff;
    --color-text-secondory: #fe9700;
    --color-text-gray: #5f7b8a;

}
